.boton-movimiento{
    position:fixed;
    width: 100px;
    height: 100px;
}

#botonarriba{
    margin-left: 200px;
}

#botonabajo{
    margin-left: 200px;
    margin-top: 105px;
}
#botonderecha{
    margin-left: 305px;
    margin-top: 50px
}
#botonizquierda{
    margin-left: 95px;
    margin-top: 50px
}
#container-estado-juego{
    display: inline-block;
    padding-left: 200px;
    
    text-align: center;
    position: absolute;
    padding-top: 200px;
}

/* #canvas{
    display: inline-block;
} */