#container-estado-juego{
    display: inline-block;
    padding-left: 200px;
    
    text-align: center;
    position: absolute;
    padding-top: 200px;
}

/* #canvas{
    display: inline-block;
} */